<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4" style="width: 100%; max-width: 550px;">

        <div class="text-center mb-4">
            <h2 class="fw-bold">Crear Cuenta</h2>
            <p class="text-muted">Únete a Petalth para cuidar de tus mascotas</p>
        </div>

        @if (errorMessage) {
        <div class="alert alert-danger">{{ errorMessage }}</div>
        }

        <!--Property Binding, enlaza el atributo registerForm del .ts con el motor de Angular y Event Binding -->
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="row g-3">

                <div class="col-md-6">
                    <label class="form-label">Nombre</label>
                    <!-- formControlName="firstName" es una directiva de vinculación de Angular. Define que este input pertenece a la propiedad firstName de registerForm (del .ts)-->
                    <!-- [class.is-invalid]="registerForm.get... es Class Binding. Dice que añada la clase is-invalid(de Bootstrap para poner el borde rojo) si se cumple la condición  -->
                    <input type="text" class="form-control" formControlName="firstName"
                        [class.is-invalid]="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched">
                    <!-- Comprueba si el campo esta vacío (primera condición) y si ha sido previamente tocado...-->
                    @if (registerForm.get('firstName')?.hasError('required') && registerForm.get('firstName')?.touched)
                    {
                    <!-- Clase de Bootstrap, por defecto esta es display none, pero si el input tiene la clase is-invalid(que se activa si hay error...) se muestra-->
                    <div class="invalid-feedback">El nombre es obligatorio.</div>
                    }
                </div>

                <div class="col-md-6">
                    <label class="form-label">Apellidos</label>
                    <input type="text" class="form-control" formControlName="lastName"
                        [class.is-invalid]="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched">
                    @if (registerForm.get('lastName')?.hasError('required') && registerForm.get('lastName')?.touched) {
                    <div class="invalid-feedback">El apellido es obligatorio.</div>
                    }
                </div>

                <div class="col-md-12">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email"
                        [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                    @if (registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched) {
                    <div class="invalid-feedback">El email es obligatorio.</div>
                    }
                    @if (registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched) {
                    <div class="invalid-feedback">Introduce un email válido.</div>
                    }
                </div>

                <div class="col-md-6">
                    <label class="form-label">Teléfono</label>
                    <input type="text" class="form-control" formControlName="phone"
                        [class.is-invalid]="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched">
                    @if (registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched) {
                    <div class="invalid-feedback">Teléfono inválido (9 dígitos).</div>
                    }
                </div>

                <div class="col-md-6">
                    <label class="form-label">Dirección</label>
                    <input type="text" class="form-control" formControlName="address"
                        [class.is-invalid]="registerForm.get('address')?.invalid && registerForm.get('address')?.touched">
                    @if (registerForm.get('address')?.invalid && registerForm.get('address')?.touched) {
                    <div class="invalid-feedback">La dirección es obligatoria.</div>
                    }
                </div>

                <div class="col-md-12">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" formControlName="password"
                        [class.is-invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                    @if (registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched) {
                    <div class="invalid-feedback">Mínimo 6 caracteres.</div>
                    }
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-4 py-2" [disabled]="registerForm.invalid">
                Registrarse
            </button>
        </form>

        <p class="text-center mt-3">
            ¿Ya tienes cuenta? <a routerLink="/login" class="text-decoration-none">Inicia sesión</a>
        </p>
    </div>
</div>