<div class="container-fluid">

  <div class="container mx-auto">

    <div class="row">

      <div class="col-lg-6">
        <h2 class="my-4">Cuidar de tu peludo nunca fue tan facil</h2>
        <p>Encuentra profesionales en Petalth con los mejores servicios!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam veniam ipsa corporis libero culpa, natus
          quo
          repellendus consequuntur, quam voluptatibus veritatis itaque, excepturi in similique.</p>
      </div>

      <div class="col-lg-6 text-center">
        <img src="../../../assets/media/infinite-carousel/inf-carousel-01.jpg" alt="Vet" class="img-fluid">
      </div>
    </div>

    <div class="text-center p-3">
      <h4>Nuestros clientes</h4>
    </div>



    <div class="slider" style="--width: 200px; --height: 200px; --quantity: 9;">
      <div class="list">
        <div class="item" style="--position: 1"><img src="../../../assets/media/infinite-carousel/inf-carousel-01.jpg"
            alt=""></div>
        <div class="item" style="--position: 2"><img src="../../../assets/media/infinite-carousel/inf-carousel-01.jpg"
            alt=""></div>
        <div class="item" style="--position: 3"><img src="../../../assets/media/infinite-carousel/inf-carousel-01.jpg"
            alt=""></div>
        <div class="item" style="--position: 4"><img src="../../../assets/media/infinite-carousel/inf-carousel-01.jpg"
            alt=""></div>
        <div class="item" style="--position: 5"><img src="../../../assets/media/infinite-carousel/inf-carousel-01.jpg"
            alt=""></div>
        <div class="item" style="--position: 6"><img src="../../../assets/media/infinite-carousel/inf-carousel-01.jpg"
            alt=""></div>
        <div class="item" style="--position: 7"><img src="../../../assets/media/infinite-carousel/inf-carousel-01.jpg"
            alt=""></div>
        <div class="item" style="--position: 8"><img src="../../../assets/media/infinite-carousel/inf-carousel-01.jpg"
            alt=""></div>
        <div class="item" style="--position: 9"><img src="../../../assets/media/infinite-carousel/inf-carousel-01.jpg"
            alt=""></div>
      </div>
    </div>





  </div>



</div>