* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  width: 100%;
  border: 1px solid red;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 15s linear infinite;
  animation-delay: calc((15s / var(--quantity)) * (var(--position) - 1) - 15s);
  transition: filter 0.5s;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
